{
  "swagger": "2.0",
  "info": {
    "title": "Edugram API",
    "description": "Edugram Backend API",
    "version": "1.0.0"
  },
  "host": "katowice.edugram.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userData": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "filters",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/filters": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/live": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/draft": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/progress": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "lastLectureId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/lecture-progress": {
      "put": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "lecture_progress": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/reviews": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "review": {
                  "example": "any"
                },
                "rating": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/reviews/{reviewId}": {
      "patch": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "review": {
                  "example": "any"
                },
                "rating": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/reviews/{reviewId}/like": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/reviews/{reviewId}/dislike": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/reviews/{reviewId}/responses": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/reviews/{reviewId}/responses/{responseId}": {
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/notes": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "lectureId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/notes/{noteId}": {
      "patch": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "updatedFields": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/pricing-policies": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/course/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "example": "any"
                },
                "code": {
                  "example": "any"
                },
                "valueType": {
                  "example": "any"
                },
                "value": {
                  "example": "any"
                },
                "initialValue": {
                  "example": "any"
                },
                "isAutoApplicable": {
                  "example": "any"
                },
                "isActive": {
                  "example": "any"
                },
                "allowCourseDiscounts": {
                  "example": "any"
                },
                "allowDiscountsForGifts": {
                  "example": "any"
                },
                "showOriginalPrice": {
                  "example": "any"
                },
                "maxUsage": {
                  "example": "any"
                },
                "startDate": {
                  "example": "any"
                },
                "expiryDate": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/course/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/pricing-policies/{policyId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "example": "any"
                },
                "code": {
                  "example": "any"
                },
                "valueType": {
                  "example": "any"
                },
                "value": {
                  "example": "any"
                },
                "initialValue": {
                  "example": "any"
                },
                "isAutoApplicable": {
                  "example": "any"
                },
                "isActive": {
                  "example": "any"
                },
                "allowCourseDiscounts": {
                  "example": "any"
                },
                "allowDiscountsForGifts": {
                  "example": "any"
                },
                "showOriginalPrice": {
                  "example": "any"
                },
                "maxUsage": {
                  "example": "any"
                },
                "startDate": {
                  "example": "any"
                },
                "expiryDate": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/course/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/sections": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "sections": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/sections/{sectionId}": {
      "patch": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/sections/{sectionId}/lectures": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "preview": {
                  "example": "any"
                },
                "title": {
                  "example": "any"
                },
                "duration": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "sections": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/sections/{sectionId}/lectures/{lectureId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lectureId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lectureId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "preview": {
                  "example": "any"
                },
                "title": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lectureId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/sections/{sectionId}/lectures/{lectureId}/contents/{contentId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lectureId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lectureId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/sections/{sectionId}/lectures/{lectureId}/contents/{contentId}/link": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lectureId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/sections/{sectionId}/lectures/{lectureId}/resources/{resourceId}/link": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "lectureId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/video-upload-url": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "parts": {
                  "example": "any"
                },
                "file": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/resource-upload-url": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "parts": {
                  "example": "any"
                },
                "file": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/video": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "uploadId": {
                  "example": "any"
                },
                "parts": {
                  "example": "any"
                },
                "contentName": {
                  "example": "any"
                },
                "duration": {
                  "example": "any"
                },
                "fileName": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/video/{videoName}": {
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "videoName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/course/properties/403"
            },
            "description": "Forbidden"
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/course/properties/400"
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/course/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/text": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "lecture_content": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/text/{contentId}": {
      "patch": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "lecture_content": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/resources": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "uploadId": {
                  "example": "any"
                },
                "parts": {
                  "example": "any"
                },
                "contentName": {
                  "example": "any"
                },
                "fileName": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/resources/{resourceId}": {
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/public-file-url": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/presentational-photo": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/presentational-video": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "contentName": {
                  "example": "any"
                },
                "file": {
                  "example": "any"
                },
                "duration": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/publish": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "reviewNote": {
                  "example": "any"
                },
                "contactEmail": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/release": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/reject": {
      "post": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/review-record": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/review-records": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/education/courses/{courseId}/{courseVersion}/review-record": {
      "get": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Courses"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "courseVersion",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/search/courses/suggestions": {
      "get": {
        "tags": [
          "Search"
        ],
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/search/courses/addSearchQuery": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/search/test": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/user": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "uid": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/profile": {
      "patch": {
        "tags": [
          "User"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/user/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/avatar": {
      "put": {
        "tags": [
          "User"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/user/properties/400"
            },
            "description": "Bad Request"
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/user/properties/404"
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/user/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/my-courses": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/wishlist": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "courseId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "courses": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/wishlist/{courseId}": {
      "delete": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/cart": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/gift/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "courseId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "courses": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/cart/{courseId}": {
      "delete": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/saved-items": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/gift/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "courseId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "courses": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/saved-items/{courseId}": {
      "delete": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/author/": {
      "get": {
        "tags": [
          "Author"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Get Author details",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "example": "John"
                },
                "lastName": {
                  "type": "string",
                  "example": "Doe"
                },
                "avatar": {
                  "type": "string",
                  "example": "https://cdn.edugram.io/user-storage/12345/avatars/example.png"
                },
                "averageRating": {
                  "type": "number",
                  "example": 4.85
                },
                "totalStudents": {
                  "type": "number",
                  "example": 100
                },
                "totalCourses": {
                  "type": "number",
                  "example": 8
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 404
                },
                "message": {
                  "type": "string",
                  "example": "User not found"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Something went wrong"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/author/public-file-url": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/author/introduction-video": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/author/courses": {
      "get": {
        "tags": [
          "Author"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Get Author courses",
            "schema": {
              "type": "array",
              "example": [
                "courses"
              ],
              "items": {
                "type": "string"
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Something went wrong"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/author/get-stripe-countries": {
      "get": {
        "tags": [
          "Author"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Get Author courses",
            "schema": {
              "type": "object",
              "properties": {},
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Something went wrong"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/author/get-verification-status": {
      "get": {
        "tags": [
          "Author"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Get Author courses",
            "schema": {
              "type": "object",
              "properties": {},
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Something went wrong"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/author/get-verification-session": {
      "post": {
        "tags": [
          "Author"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create Author verification session",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "example": "account_link"
                },
                "created": {
                  "type": "number",
                  "example": 1688561809
                },
                "expires_at": {
                  "type": "number",
                  "example": 1688562109
                },
                "url": {
                  "type": "string",
                  "example": "https://connect.stripe.com/setup/c/acct_ACCOUNT_ID/ACC_LINK_SESSION_ID"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 404
                },
                "message": {
                  "type": "string",
                  "example": "User not found"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Something went wrong"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/author/reset-verification-session": {
      "post": {
        "tags": [
          "Author"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 404
                },
                "message": {
                  "type": "string",
                  "example": "User not found"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Something went wrong"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/author/request-author-verification": {
      "post": {
        "tags": [
          "Author"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 404
                },
                "message": {
                  "type": "string",
                  "example": "User not found"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "type": "number",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Something went wrong"
                },
                "stack": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/payments/checkout": {
      "post": {
        "tags": [
          "Payments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "example": "any"
                },
                "discounts": {
                  "example": "any"
                },
                "currency": {
                  "example": "any"
                },
                "itemType": {
                  "example": "any"
                },
                "orderId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "client_secret": {
                  "type": "string",
                  "example": ""
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/payment/properties/201"
            },
            "description": "Created"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/payment/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/payments/discount": {
      "post": {
        "tags": [
          "Payments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "isGiftOrder",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "example": "any"
                },
                "items": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/coupon/properties/CouponDetails"
            }
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/coupon/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/categories/": {
      "get": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/categories/{category}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accept-language",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/categories/{categoryId}": {
      "patch": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/review-records/": {
      "get": {
        "tags": [
          "Review Records"
        ],
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/review-records/{reviewRecordId}": {
      "get": {
        "tags": [
          "Review Records"
        ],
        "description": "",
        "parameters": [
          {
            "name": "reviewRecordId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/review-records/{reviewRecordId}/start-review": {
      "post": {
        "tags": [
          "Review Records"
        ],
        "description": "",
        "parameters": [
          {
            "name": "reviewRecordId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "adminId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/review-records/{reviewRecordId}/approve": {
      "post": {
        "tags": [
          "Review Records"
        ],
        "description": "",
        "parameters": [
          {
            "name": "reviewRecordId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "adminId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/review-records/{reviewRecordId}/reject": {
      "post": {
        "tags": [
          "Review Records"
        ],
        "description": "",
        "parameters": [
          {
            "name": "reviewRecordId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rejectionReason": {
                  "example": "any"
                },
                "adminId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/support/report": {
      "post": {
        "tags": [
          "Support"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "relatedItem": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/orders/": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/order/properties/409"
            },
            "description": "Conflict"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/order/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "example": "any"
                },
                "itemType": {
                  "example": "any"
                },
                "giftDetails": {
                  "example": "any"
                },
                "isGuest": {
                  "example": "any"
                },
                "guestCheckoutDetails": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/order/properties/409"
            },
            "description": "Conflict"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/order/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/order/properties/OrderDetails"
            }
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/order/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/orders/{orderId}/invoice": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "",
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/order/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/gifting/{orderId}": {
      "get": {
        "tags": [
          "Gifting"
        ],
        "description": "",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get gift details",
            "schema": {
              "$ref": "#/definitions/gift/properties/GiftDetails"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/gift/properties/400"
            },
            "description": "Bad Request"
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/gift/properties/404"
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/gift/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/gifting/{orderId}/redeem": {
      "post": {
        "tags": [
          "Gifting"
        ],
        "description": "",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gift/properties/404"
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/gift/properties/400"
            },
            "description": "Bad Request"
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/gift/properties/403"
            },
            "description": "Forbidden"
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/gift/properties/404"
            },
            "description": "Not Found"
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/gift/properties/500"
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/pricing-policies/": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "valueType": {
                  "example": "any"
                },
                "value": {
                  "example": "any"
                },
                "courses": {
                  "example": "any"
                },
                "excludedCourses": {
                  "example": "any"
                },
                "courseTargetMode": {
                  "example": "any"
                },
                "targetCourseVersion": {
                  "example": "any"
                },
                "users": {
                  "example": "any"
                },
                "excludedUsers": {
                  "example": "any"
                },
                "isAutoApplicable": {
                  "example": "any"
                },
                "isActive": {
                  "example": "any"
                },
                "startDate": {
                  "example": "any"
                },
                "allowGlobalDiscounts": {
                  "example": "any"
                },
                "allowCourseDiscounts": {
                  "example": "any"
                },
                "allowDiscountsForGifts": {
                  "example": "any"
                },
                "showOriginalPrice": {
                  "example": "any"
                },
                "maxUsage": {
                  "example": "any"
                },
                "expiryDate": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/pricing-policies/{policyId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/settings/{settingName}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "settingName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "course": {
      "type": "object",
      "properties": {
        "500": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 500
            },
            "message": {
              "type": "string",
              "example": "Something went wrong"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "ShortCourseDetails": {
          "type": "object",
          "properties": {}
        },
        "CourseDetails": {
          "type": "object",
          "properties": {}
        }
      }
    },
    "coupon": {
      "type": "object",
      "properties": {
        "400": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 400
            },
            "message": {
              "type": "string",
              "example": "The coupon has been expired"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "403": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 404
            },
            "message": {
              "type": "string",
              "example": "You cannot redeem this coupon"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "404": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 404
            },
            "message": {
              "type": "string",
              "example": "Coupon not found"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "500": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 500
            },
            "message": {
              "type": "string",
              "example": "Something went wrong"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "CouponDetails": {
          "type": "object",
          "properties": {}
        }
      }
    },
    "order": {
      "type": "object",
      "properties": {
        "409": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 409
            },
            "message": {
              "type": "string",
              "example": "Some courses cannot be purchased"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "500": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 500
            },
            "message": {
              "type": "string",
              "example": "Something went wrong"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "OrderDetails": {
          "type": "object",
          "properties": {}
        }
      }
    },
    "payment": {
      "type": "object",
      "properties": {
        "201": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 201
            },
            "message": {
              "type": "string",
              "example": "Payment not required"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "500": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 500
            },
            "message": {
              "type": "string",
              "example": "Something went wrong"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        }
      }
    },
    "gift": {
      "type": "object",
      "properties": {
        "400": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 400
            },
            "message": {
              "type": "string",
              "example": "Gift ID cannot be empty"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "403": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 403
            },
            "message": {
              "type": "string",
              "example": "Invalid Access"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "404": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 404
            },
            "message": {
              "type": "string",
              "example": "Gifted Item not found"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "500": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "status": {
              "type": "number",
              "example": 500
            },
            "message": {
              "type": "string",
              "example": "Something went wrong"
            },
            "stack": {
              "type": "object",
              "properties": {}
            }
          },
          "required": [
            "success",
            "status",
            "message",
            "stack"
          ]
        },
        "GiftDetails": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "example": "64a7b9194580a6fe8964acf6"
            },
            "message": {
              "type": "string",
              "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at placerat justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras a velit at dui maximus bibendum in eu nisl. Vivamus malesuada justo nec arcu luctus facilisis. Integer mattis nisi eu ligula porttitor ornare. Cras at diam vitae odio elementum accumsan. Nunc hendrerit viverra pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum id condimentum ligula, id sagittis ante. Proin sed viverra tellus. Vivamus elementum in purus ut aliquam. Pellentesque in tincidunt nisl, ac ultricies nulla. Cras scelerisque sagittis tortor vel aliquet. Phasellus eget lorem sed enim gravida tristique at et metus"
            },
            "senderDetails": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "johndoe@exmple.com"
                },
                "name": {
                  "type": "string",
                  "example": "John Doe"
                }
              },
              "required": [
                "email",
                "name"
              ]
            },
            "isAnonymous": {
              "type": "boolean",
              "example": false
[...]
